/* style */

body {
  margin: 0;
  width: 200%;
}

canvas {
  background-color: yellow;
  width: 256px;
  height: 256px;
  transform-origin: top left;
  transform: translate3d(0px, 0px, 0px) scale3d(4.0, 4.0, 1.0);
  margin: 0px 256px 0 0;
}
